@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;400;700&display=swap');

@font-face {
    font-family: 'Butler';
    src: local('Butler'),
    url(../fonts/Butler.woff),
    url(../fonts/Butler.woff2);
    font-weight: 400;
    font-style: normal;
}