:root {
    font-size: 100%,
}

.hero_block h1 {
    font-family: 'Butler', 'Arial';
    font-size: 5.44rem;
    margin: 0;
}

.hero_block h2 {
    font-family: 'Roboto', 'Arial';
    font-size: 1.125rem;
    margin: 0;
}

.hero_block {
    margin: 0 auto;
    margin-top: 7%;

    position: relative;
}

.hero_block_img {
    position: absolute;
    z-index: -1;
    left: calc(50% - 1065px/2);
    max-width: 100%;
}

.white_block {
    background-color: #fff;
    width: 600px;
    height: 355px;
    padding-top: 3.56%;
    
    position: absolute;
    left: calc(50% - 1065px/2/2);
    top: calc((630px - 300px)/2);

    text-align: center;
}

.biography_block {
    position: relative;
    top: 45rem;

    max-width: 60%;
    left: calc(50% - 553px);
    right: 50%;

    box-sizing: border-box;
}

.biography_block img {
    max-width: 100%;
    float: left;
    margin-right: 8%;
}

.biography_block h3 {
    font-family: 'Butler', 'Arial';
    font-size: 5.44rem;
    padding-right: 32%;
    padding-top: 8%;
}

.biography_block blockquote {
    font-family: 'Butler', 'Arial';
    font-size: 2rem;
    padding-right: 8%;
}

.biography_block p {
    font-family: 'Roboto', 'Arial';
    font-size: 1.25rem;
}

.biography_block div {
    max-width: 1265px;
}

.biography_block h2 {
    writing-mode: vertical-lr;
    position: absolute;
    left: 75%;
    top: 85%;
}


.designers_block {
    top: 950px;
    display: flex;
    margin: 0 auto;
    position: relative;
    align-items: end;
}

.disigner_1 {
    margin-right: 100px;
}

.disigner_1 img {
    height: 538px;
    width: 609px;
}

.disigner_2 .disigner_3 img {
    height: 309px;
    width: 442px;
}


.disigner_2 {
    margin-right: 30px;
}


.designers_block h2 {
    writing-mode: vertical-rl;
    position: absolute;
    left: 48.5%;
    top: -5%;
    z-index: 1;
}

.testimonials_block {
    width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 1fr 200px;
    position: relative;
    top: 1150px;
}

.testimonials_1 {
    display: flex;
    flex-direction: column;
    writing-mode: vertical-lr;
    align-items:center;
}

.testimonials_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.testimonials_2 img {
    margin-top: 5%
}


.testimonials_block h2 {
    writing-mode: vertical-rl;
    position: absolute;
    left: 48.5%;
    top: -5%;
    z-index: 1;
}

















.block-1 {
    width: 600px;
    height: 600px;
    background-color: rgb(167, 24, 24);
    margin: 0 auto;
    margin-top: 10%;
    /* margin-top: 100px; */
    /* top: 10%; */

}

.block-2 {
    width: 300px;
    height: 300px;
    background-color: rgb(29, 167, 24);
    margin: 0 auto;
}

.block-2 img {
    width: 300;
   
}

.block-3 {
    width: 100px;
    height: 100px;
    background-color: rgb(81, 231, 21);
    margin: 0 auto;
    top: 10%;
    position: relative;

}

.block-4 {
    width: 65px;
    height: 40px;
    background-color: rgb(223, 26, 164);

    position: absolute;
    left: calc((100% - 65px)/2);
    
}


.block-5 {
    width: 25px;
    height: 15px;
    background-color: rgb(175, 44, 77);
 
    position: absolute;
    left: calc((100% - 25px)/2);
    top: calc((40px - 15px)/2);
}



/* test  */

/* .test {
    max-width: 30%;
    outline: 2px solid black;
}

.test img {
    display: block;
    max-width: 100%;
} */