:root {
    font-size: 16px,
}

.hero_block h1 {
    font-family: 'Butler', 'Arial';
    font-size: 5.44rem;
    margin: 0;
}

.hero_block h2 {
    margin: 0;
    font-family: 'Roboto', 'Arial';
    font-size: 1.125rem;
}

.hero_block {
    margin: 0 auto;

    position: relative;
    top: 8.44rem;

    max-width: 66.56rem;
    max-height: 39.4rem;
}

.hero_block_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
}

.white_block {
    background-color: #fff;
    max-width: 60%;
    max-height: 30%;

    margin: 0 auto;

    position: relative;
    top: 8.75rem;

    text-align: center;
    /* padding-top: 4rem; */
}

