:root {
    font-size: 16px,
}

.hero_block h1 {
    font-family: 'Butler', 'Arial';
    font-size: 5.44rem;
    font-weight: 400;
}

.hero_block h2 {
    font-family: 'Roboto', 'Arial';
    font-size: 1.125rem;
    font-weight: 700;
}

.hero_block {
    margin: 0 auto;
    margin-top: 15%;
    max-width: 1065px;
    /* outline: 2px solid black; */
    position: relative;
}

.white_block {
    /* outline: 2px solid black; */
    background-color: #fff;
    max-width: 55%;
    text-align: center;
    margin: 0 auto;
    padding-top: 7%;
    padding-bottom: 6%;
    padding-left: 3%;
    padding-right: 3%;
}

.hero_block_img {
    position: absolute;
    z-index: -1;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 auto;
    top: -55%;
    left: 0;
    bottom: 0;
    right: 0;

}

























.biography_block {
    position: relative;
    top: 1000px;
    margin: 0 auto;
    max-width: 1200px;
    max-height: 850px;
    /* left: calc(50% - 1141px/2); */
    /* right: 50%; */
    /* left: calc(50% - 553px); */
    /* left: calc(50% - 553px); */
    background-color: rgb(214, 20, 166);

    outline: 3 solid black;
    box-sizing: border-box;
}

.biography_block img {
    max-width: 100%;
    float: left;
    margin-right: 8%;
}

.biography_block h3 {
    font-family: 'Butler', 'Arial';
    font-size: 5.44rem;
}

.biography_block blockquote {
    font-family: 'Butler', 'Arial';
    font-size: 2rem;
}

.biography_block p {
    font-family: 'Roboto', 'Arial';
    font-size: 1.25rem;
}

.biography_block div {
    max-width: 1265px;
}

.biography_block h2 {
    writing-mode: vertical-lr;
    position: absolute;
    left: 75%;
    top: 85%;
}










.block-1 {
    width: 600px;
    height: 600px;
    background-color: rgb(167, 24, 24);
    margin: 0 auto;
    margin-top: 10%;
    /* margin-top: 100px; */
    /* top: 10%; */

}

.block-2 {
    width: 300px;
    height: 300px;
    background-color: rgb(29, 167, 24);
    margin: 0 auto;
}

.block-2 img {
    width: 300;

}

.block-3 {
    width: 100px;
    height: 100px;
    background-color: rgb(81, 231, 21);
    margin: 0 auto;
    top: 10%;
    position: relative;

}

.block-4 {
    width: 65px;
    height: 40px;
    background-color: rgb(223, 26, 164);

    position: absolute;
    left: calc((100% - 65px)/2);

}


.block-5 {
    width: 25px;
    height: 15px;
    background-color: rgb(175, 44, 77);

    position: absolute;
    left: calc((100% - 25px)/2);
    top: calc((40px - 15px)/2);
}



/* test  */

/* .test {
    max-width: 30%;
    outline: 2px solid black;
}

.test img {
    display: block;
    max-width: 100%;
} */